.office-list {
  @include no-style-list;

  li {
    @include clearfix;  
    @include card;
  }

  address {
    display: inline;
  }
}

.office-icons {
  float: right;

  @media (max-width: 500px) {
    img {
      width: 50px;
    }
  }
}

.filter-input {
  display: block;
  margin: $leading auto;
  width: 50%;
  max-width: 400px;
}