<footer class="site-footer">
  <div class="layout">
    <div id="navigation">
      <nav class="footer-navigation">
        <ul>
          <li><h2>What We Do</h2></li>
          <li><a href="/about">About our Region</a></li>
          <li><a href="#">Protected Species</a></li>
          <li><a href="#">National Wildlife Refuges</a></li>
          <li><a href="#">Wildlife Crime</a></li>
          <li><a href="#">Migratory Bird Conservation</a></li>
          <li><a href="#">Aquatic Conservation</a></li>
          <li><a href="#">Habitat Restoration</a></li>
        </ul>
        <ul>
          <li><h2>Conservation by State</h2></li>
          <li><a href="/offices/map/?state=alabama">Alabama</a></li>
          <li><a href="/offices/map/?state=arkansas">Arkansas</a></li>
          <li><a href="/offices/map/?state=florida">Florida</a></li>
          <li><a href="/offices/map/?state=georgia">Georgia</a></li>
          <li><a href="/offices/map/?state=kentucky">Kentucky</a></li>
          <li><a href="/offices/map/?state=louisiana">Louisiana</a></li>
          <li><a href="/offices/map/?state=mississippi">Mississippi</a></li>
          <li><a href="/offices/map/?state=northcarolina">North Carolina</a></li>
          <li><a href="/offices/map/?state=southcarolina">South Carolina</a></li>
          <li><a href="/offices/map/?state=puertorico">Puerto Rico</a></li>
          <li><a href="/offices/map/?state=virginislands">U.S. Virgin Islands</a></li>
        </ul>
        <ul>
          <li><h2>Let's Work Together</h2></li>
          <li><a href="/jobs">Work for Us</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Internships</a></li>
          <li><a href="#">Grants</a></li>
        </ul>
        <ul>
          <li><h2>Connect with Us</h2></li>
          <li><a href="https://facebook.com/{{ .Site.Params.facebook }}">Facebook</a></li>
          <li><a href="https://flickr.com/{{ .Site.Params.flickr }}">Photos on Flickr</a></li>
          <li><a href="https://instagram.com/usfws">Instagram</a></li>
          <li><a href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></li>
          <li><a href="https://youtube.com/playlist?list=PL5225C01A38A652EA">YouTube</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/index.xml">Subscribe</a></li>
        </ul>
      </nav>
    </div>

    <!-- <hr> -->
    <div class="footer-links">
      <ul>
        <li><a href="http://www.fws.gov/">U.S. Fish and Wildlife Service</a></li>
        <li><a href="http://www.doi.gov/">Department of the Interior</a></li>
        <li><a href="http://www.usa.gov/">USA.gov</a></li>
        <li><a href="http://www.fws.gov/help/about_us.html">About</a></li>
        <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
        <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
        <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
        <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
      </ul>

      <p>Broken link? Contact the <a href="mailto:{{ .Site.Params.webmaster }}">webmaster</a>.</p>
    </div> <!-- footer-links -->
  </div> <!-- layout -->
</footer>