{{ if .Params.hero }}
<!-- Page defined hero image -->
{{ $description := "" }}
{{ if eq .Params.hero "flower" }}
{{ $description := "A bunch of yellow flowers blowing in the wind" }}
{{ else if eq .Params.hero "students" }}
{{ $description := "A bunch of yellow flowers blowing in the wind" }}
{{ end }}
<img class="hero-image" sizes="100vw"
    srcset="{{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/200.jpg 200w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/400.jpg 400w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/600.jpg 600w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/1000.jpg 1000w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/1400.jpg 1400w"
    src="{{ .Site.Params.baseurl }}/img/hero/{{ .Params.hero }}/200.jpg">
{{ else }}
<!-- Default hero image -->
<img class="hero-image" sizes="100vw"
    srcset="{{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/200.jpg 200w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/400.jpg 400w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/600.jpg 600w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/1000.jpg 1000w,
            {{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/1400.jpg 1400w"
    src="{{ .Site.Params.baseurl }}/img/hero/{{ .Site.Params.hero.img }}/200.jpg" alt="{{ .Site.Params.hero.description }}">
{{ end }}