<!-- <form class="site-search">
  <label for="">Search:</label>
  <input id="site-search" type="search" placeholder="Search...">
  <input type="submit" value="Go">
</form> -->

<form accept-charset="UTF-8" action="http://search.usa.gov/search/docs" id="search_form" class="site-search"method="get">
  <input name="utf8" type="hidden" value="&#x2713;" /></div>
  <input id="affiliate" name="affiliate" type="hidden" value="fws.gov" />
  <label for="query" id="query-field" style="display:none">Enter Search Term(s):</label>
  <input autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="search" placeholder="Search..." />
  <input name="commit" type="submit" value="Go" class="form-search" title="Search USFWS websites" />
  <input type="hidden" name="dc" value="2270" >
</form>