<aside class="additional-content">
  <ul class="social-media-list">
    <li title="Follow us on Twitter!">
      <a href="https://twitter.com/{{ .Site.Params.twitter }}">
        <svg class="icon shape-twitter" ><use xlink:href="#icon-twitter" /></svg>
      </a>
    </li>
    <li title="Like us on Facebook!">
      <a href="https://facebook.com/{{ .Site.Params.facebook }}">
        <svg class="icon shape-facebook" ><use xlink:href="#icon-facebook" /></svg>
      </a>
    </li>
    <li title="Check out our photos on Flickr!">
      <a href="https://flickr.com/photos/{{ .Site.Params.flickr }}">
        <svg class="icon shape-flickr" ><use xlink:href="#icon-flickr" /></svg>
      </a>
    </li>
    <li title="Check out our videos on YouTube!">
      <a href="https://youtube.com/playlist?list=PL5225C01A38A652EA">
        <svg class="icon shape-youtube" ><use xlink:href="#icon-youtube" /></svg>
      </a>
    </li>
    <li title="Check out our projects on GitHub!">
      <a href="https://github.com/{{ .Site.Params.github }}">
        <svg class="icon shape-github" ><use xlink:href="#icon-github" /></svg>
      </a>
    </li>
  </ul>
  {{ if .IsPage }}{{.Section }}{{ end }}
  
  <ul>
  {{ range where .Site.Pages "Section" "cookeville" }}
    <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
  {{ end }}
  </ul>

</aside>