<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "search-form.html" . }}
    <div class="wrapper">
      <section id="main-content">
          <h1>{{ .Title }}</h1>
          <ul class="section-summary">
          {{ $section := lower .Title }}
          {{ $section }}
          {{ range where .Paginator.Pages "Section" $section }}
            {{ .Render "summary" }}
          {{ end }}
          </ul>
          <div class="pagination">
          {{ partial "pagination.html" . }}
          </div>
        </div>
      </section>
      {{ partial "sidebar.html" . }}
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>