<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "search-form.html" . }}
    <div class="wrapper">
      <section id="main-content">
        <h1>{{ .Title }}</h1>
        <ul class="section-summary">
        {{ range .Paginator.Pages }}
          {{ if in .Params.categories "press release" }}
          {{ .Render "summary" }}
          {{ else }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
        </ul>
        <div class="pagination">
        {{ partial "pagination.html" . }}
        </div>
      </section>
      {{ partial "sidebar.html" . }}
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>