<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "search-form.html" . }}
    <div class="wrapper">
      <section id="main-content">
      {{ partial "breadcrumbs.html" . }}
        <h1>{{ .Title }}</h1><br>
        {{ range .Paginator.Pages.ByDate }}
          {{ if in .Params.categories "press release" }}
          {{ .Render "summary" }}
          {{ else if in .Params.categories "profile" }}
          {{ .Render "summary" }}
          {{ else if in .Params.categories "event" }}
          {{ .Render "summary" }}
          {{ else }}
          <article><a href="{{ .Permalink }}">{{ .Title }}</a></article>
          {{ end }}
        {{ end }}
        <div class="pagination">
        {{ partial "pagination.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>