@mixin carousel() {
  margin: 0 $leading;

  div {
    margin: $leading auto;
    text-align: center;

    h3 {
      margin-top: 3px;
    }
  }

  div img {
    @include photo-border;
    border-radius: 50%;
    margin: auto;
  }
}