$tag-color: $color-fws-blue;

@mixin tag($color: $tag-color) {
  color: white;
  padding: 5px 10px;
  background-color: $color;
  border-radius: 50px;
  margin-right: $leading/2;
  display: inline-block;
  transition: background-color, .3s;

  &:hover {
    background-color: $color-fws-green;
  }

  &:last-child {
    margin-right: 0;
  }
}