<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "search-form.html" . }}
    {{ partial "scroll-nav.html" . }}
    <div class="wrapper">
      <section id="main-content"></section>
      {{ partial "breadcrumbs.html" . }}
      <section class="species-profile-wrapper">
        <h1>{{ .Title }}</h1>
        <div class="species-profile">
          {{ .Content }}
          {{ partial "species-profile.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>