---
title: Recovery and Interstate Commerce Permits
js:
  - ../js/permits.js
---

<h2>What is the status of my permit?</h2>
<p>Type in the 6-digit alpha-numeric code associated with your permit. For example, if your permit code is TE 12345B-6, you would enter the following into the query-field: 12345B.</p>

<!-- ANGULAR JS APPLICATION -->
<div class="permit-app" ng-app="permitApp" ng-controller="SearchController">
  
  <form>
    <input id="permit-search" type="text" ng-model="model.search" placeholder="Enter permit number..." />
    <p class="permit-last-updated">Statuses Last Updated: March 26, 2015</p>
  </form>

  <div ng-repeat="permit in model.permits" class="permit-results" ng-show="model.search == permit.permitNumber">
    <p>Permit Status: {{ permit.permitStatus }}</p>
    <p>Federal Register Status: {{ permit.fedRegisterStatus }}</p>
  </div>

  <ul ng-repeat="filtered in filteredPermits = (model.permits | filter:model.search)" ng-show="model.search.length > 5">
  </ul>
  <div ng-show="model.search.length > 5 && !filteredPermits.length" class="permit-results">
    <p>The permit number you have entered can not be located.  Please double-check the entry.  If you believe the number to be correct, please contact the Permit team at (404) 679 4127.</p>
  </div>
</div>
<!-- END ANGULAR JS APPLICATION -->

<p>This application works with the following web browsers: Google Chrome, Firefox, Safari.  Note that permit statuses are updated bi-weekly. While we are aware that you may want to inquire further about the status of your application, we request that you use this website as a means of staying apprised so that we can focus our resources on processing your permit as quickly as possible. If you have specific information that needs to be provided so that we can successfully complete the processing of your application, email the additional information to our office.</p> 

<h2>What does my Federal Register (FR) status mean?</h2>

<p>Depending on the number of applications we receive each month, notice of receipt of applications are batched onto a single Federal Register document and sent for publication approximately once a month. After we receive your application, it will have one of the following FR-notice statuses:</p>

<ul>
  <li><strong>Needs to be drafted</strong> – Notice of receipt of your application has not yet been drafted on our most recent batched draft FR document for 10(a)(1)(A) Recovery and Interstate Commerce permits.</li>
  <li><strong>On draft Federal Register</strong> – Notice of receipt of your application has been drafted on our most recent Federal Register document for 10(a)(1)(A) Recovery and Interstate Commerce Permits, but the draft has not yet been published on the Federal Register.</li>
  <li><strong>On 30-day Notice period</strong> - Receipt of your application has been published on the daily Federal Register for 30 days and the comment period is open. You can find the notice of receipt of an application, using the Service Documents search by applicant.</li>
  <li><strong>Noticed for 30 days</strong> - Receipt of your application has been published on the daily Federal Register for 30 day and the comment period has closed. To find the notice of receipt of an application, use the Service Documents search by applicant.</li>
  <li><strong>Public Notice Not Required</strong> - Receipt of certain permit applications, such as those involving proposed activities with threatened species or for minor amendments, do not require notice on the Federal Register.</li>
</ul>

<h2>What does my permit status mean?</h2>

<ul>
  <li><strong>In Regional Office for in-processing</strong> – In-processing of an application involves processing application fees, entering applicant information into the Service-wide Permit Tracking System (SPITS), noticing applications on the Federal Register, ensuring applications are complete and ready for review, and drafting permits for review by species experts in Field Offices.</li>
  <li><strong>Awaiting input from Applicant</strong> - The application did not contain sufficient information for species experts to review qualifications of proposed permittees and/or assess potential impacts of proposed projects on listed species. Regional Office personnel notify the applicant that processing cannot continue until additional information is provided.</li>
  <li><strong>In-review by Field Offices &amp; Recovery Leads</strong> – After applications are in-processed in the Regional Office, they are sent for review by relevant Regional Recovery Leads and species experts in Field Offices in each state that the applicant proposes to conduct activities. Applications are also sent to Regional Permit Coordinators outside of the Southeast Region when applicants propose to conduct activities outside of the Southeast (see the US FWS regional boundaries). Species experts review the qualifications of individuals to conduct proposed activities and assess the potential impacts of proposed activities on listed species.</li>
  <li><strong>In Regional Office for Signatory Approval</strong> – Based on reviews from species experts, applications are approved or denied. Regional Office personnel prepare intra-Service memorandums to document Section 7 and Section 10 findings. Intra-Service memorandums are written and signed by the Regional Permit Coordinator and reviewed and signed by the Chief of the Division of Environmental Review. Permits are reviewed and signed by the Chief of the Division of Environmental Review.</li>
  <li><strong>Issued</strong> – The permit has been signed and mailed to the applicant by US Post. Applicants are notified by email when their permits have been issued.</li>
  <li><strong>Denied</strong> – The permit application was denied. Applicants are notified of permit denial via email.</li>
</ul>

<h2>Why does receipt of my application have to be published on the Federal Register before you can issue my permit?</h2>

<p>Daily publication of the Federal Register is a method of informing the public of the regulations that affect them. This is where notices of availability of documents, such as permit applications, are published to provide the public an opportunity to comment.</p>

<p>Notice of receipt of a permit application for proposed activities involving endangered species is required pursuant to Section 10(c) of the Endangered Species Act. This means that receipt of your permit application must be published on the Federal Register for 30 days before we can legally issue your new, renewal, or amended permit. Receipt of applications involving proposed activities with threatened species, or those involving minor amendments (e.g., change of address), do not require Federal Register notification. Depending on the number of applications received each month, the Division of Environmental Review in Region 4 generally sends a notice of receipt document to be published once a month. To find the notice of receipt of an application, use the Service Documents search by applicant name.</p> 

<h2>When do I need a 10(a)(1)(A) Recovery or Interstate Commerce Permit?</h2>

<p>If you are conducting activities that result in the “take” of species that are listed as threatened or endangered pursuant to the Endangered Species Act for the purpose of enhancing species propagation or survival, a Section 10(a)(1)(A) permit is required. A permit is also required for the sale of listed species across state lines. Examples include, but are not limited to: abundance surveys, genetic research, relocations, capture and marking, and telemetric monitoring.</p>

<p>For general information about these permits and points of contact, see our fact sheet Permits for Native Species Under the Endangered Species Act (529 KB Adobe pdf file).</p>

<h2>How do I apply for a 10(a)(1)(A) Recovery or Interstate Commerce Permit?</h2>

<p>One of the first things you need to do to apply for a permit is contact your nearest USFWS Ecological Services Office. U.S. Fish and Wildlife Service staff can help you determine whether your proposed project or action is likely to result in "take," whether a permit is required, or if there are other options to consider. U.S. Fish and Wildlife Service personnel can also provide technical assistance to help you design your project to avoid take.</p>

<p>When and if you decide that a permit is needed, the next thing you will need to do is complete an application for the permit. Please read the instructions on how to fill out the online forms before accessing the forms.</p>

<p>Apply for Recovery Permits and Interstate Commerce Permits. (288 KB Adobe pdf file).</p> 

<h2>What happens to my permit after I mail it to the Regional Office in Atlanta?</h2>

<p>Many statutory and procedural requirements must be considered when reviewing an application, including a requirement to notice applications involving endangered species on the Federal Register (FR) for a time-period of 30 days. In addition to the FR notice-period requirement, applications are reviewed by relevant Regional Recovery Leads and species experts in Field Offices in each state that the applicant proposes to conduct activities. Applications are also sent to Regional Permit Coordinators outside of the Southeast Region when applicants propose to conduct activities outside of the Southeast (see the US FWS regional boundaries).</p>

<p>Species experts and Regional Recovery Leads review the qualifications of individuals to conduct proposed activities and assess the potential impacts of proposed activities on listed species. In the simplest cases (i.e., applications involving 1 species and 1 state), permit processing goes through the steps in the diagram below. As the number of species, states, and regions increases, so does the complexity of permit processing and, in turn, permit processing time.</p>

<h2>What does “Section 7 Consultation” and “Biological Opinion” mean?</h2>

<p>When a federal agency, including the US fish and Wildlife Service, determines, through a biological assessment or other review, that an action (such as issuing a permit) is likely to adversely affect a listed species, the agency must submit a request for formal consultation to the relevant Service Recovery Lead. During formal consultation, the Permit Coordinator and the Recovery Lead share information about the proposed project and the species that is likely to be affected. Formal consultation may last up to 90 days, after which the Service will prepare a Biological Opinion on whether the proposed activity will jeopardize the continued existence of a listed species. The Service has 45 days after completion of formal consultation to write the Opinion.</p>

<p>In making a determination on whether an action will result in jeopardy, the Service begins by looking at the current status of the species, or “baseline.” Added to the baseline are the various effects – direct, indirect, interrelated, and interdependent – of the proposed Federal action. The Service also examines the cumulative effects of other non-Federal actions that may occur in the action area, including state, tribal, local, or private activities that are reasonably certain to occur in the project area.</p>

<p>Note that, if your project is determined to have “no effect” or a “not likely to adversely affect” determination, you may not need a Section 10(a)(1)(A) permit. This is why it is important to first contact the Field Office in which you are conducting proposed activities prior to submitting a permit application to the Regional Office. U.S. Fish and Wildlife Service staff can help you determine whether your proposed project or action is likely to result in “take,” whether a permit is required, or if there are other options to consider.</p>

<h2>Who do I contact if I have a question regarding the permit process?</h2>

<p>If you have questions that have not been addressed on this website, or any of the web-links provided here-in, contact the Region 4 Permit Coordinator. Please include your permit number (TE XXXXXX), name, and daytime telephone number on all correspondence. If you have not yet received a permit number, include the business name or individual name listed on your application.</p>

<h2>What are the minimum qualifications that need to be met to obtain a 10(a)(1)(A) Recovery Permit?</h2>

<p>Some species have minimum qualification requirements that must be met to obtain a permit. Regardless of the species applicants must document ability to correctly identify the species they are applying for.</p>

<a href="http://www.fws.gov/southeast/permits/pdf/R4BatPermitRequirements.pdf">Information to include in Applications for Federal Research Permit for Endangered and Threatened Bats</a>
<a href="http://www.fws.gov/southeast/permits/pdf/ABBPermitQualifications.pdf">American Burying Beetle Qualification Criteria</a>