<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}
    {{ partial "search-form.html" . }}
    <div class="wrapper">
      <section id="main-content"></section>
      <section class="home-content">
        <h1>Welcome to the Southeast!</h1>
        <hr>
        <p class="welcome-text">We are passionate people working to conserve and enhance America's wild side.  We are public servants providing expert conservation consutation services to the states of Alabama, Arkansas, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, South Carolina, Puerto Rico and the U.S. Virgin Islands.</p>

        <ul class="graphic-launch-point">
          <li class="launch-point-item">
            <a href="{{ .Site.Params.baseurl }}/offices/map"><img class="launch-explore" src="{{ .Site.Params.baseurl }}img/map-compass.jpg" alt=""></a>
          </li><!-- 
        --><li class="launch-point-item">
            <a href="{{ .Site.Params.baseurl }}/wildlife"><img class="launch-wildlife" src="{{ .Site.Params.baseurl }}/img/bear-cubs.jpg" alt=""></a>
          </li><!-- 
        --><li class="launch-point-item">
            <a href="http://www.fws.gov/refuges/"><img class="launch-refuges" src="{{ .Site.Params.baseurl }}/img/sunset-at-nox.jpg" alt=""></a>
          </li>
        </ul>

        <h2>Latest News</h2>
        <hr class="news-hr">
        <ul class="news-teasers">
          {{ range first 3 (where .Site.Pages "Section" "news") }}
            {{ .Render "li" }}
          {{ end }}
        <p><a href="/news" class="newsroom-button">Go to the Newsroom</a></p>
        </ul>

        <h2>Upcoming Events</h2>
        <hr>
        <ul class="event-list">
          {{ range first 3 (where .Site.Pages "Section" "events") }}
            {{ .Render "li" }}
          {{ end }}
        </ul>
        <p><a href="/events" class="button">View all Events</a></p>

        <!-- <h2>Events</h2>
        {% include events.html %} -->

        <h2>Our Regional Priorities</h2>
        <hr>

        <ul class="regional-priorities">
          <li>
            <h3>Species At-Risk</h3>
            <img src="{{ .Site.Params.baseurl }}/img/alligator-snapping-turtle.jpg" alt="">
          </li><!-- 
        --><li>
            <h3>After the Spill: Restoring the Gulf</h3>
            <img src="{{ .Site.Params.baseurl }}/img/gulf-jereme.jpg" alt="">
          </li><!-- 
        --><li>
            <a href="{{ .Site.Params.baseurl }}/initiatives">
              <h3>All Lands, All Hands, All Wildlife</h3>
              <img src="{{ .Site.Params.baseurl }}/img/cows-in-pasture.jpg" alt="Cows stading in a group in a pasture">
            </a>
          </li><!-- 
        --><li>
            <h3>Latest Fire/Flood/Crisis Issue</h3>
            <img src="{{ .Site.Params.baseurl }}/img/katrina.jpg" alt="">
          </li>
        </ul>
      </section>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>